---
layout: default
---
{% if page.post-link %}
<h2><a href="{{ page.post-link }}" title="External link">{{ page.title }}</a></h2>
{% else %}
<h2>{{ page.title }}</h2>
{% endif %}
<p id="tip-info">{{ page.date | date:"%B %e, %Y @ %I:%M %p" }}</p>
{{ content }}

<div id="post-nav" class="clearfix">
  {% if page.previous %}
  <a rel="prev" href="{{ page.previous.url }}">&larr;{{ page.previous.title }}</a>
  {% endif %}
  {% if page.next %}
  <a rel="next" href="{{ page.next.url }}" style="float:right;">{{ page.next.title }}&rarr;</a>
  {% endif %}
</div>
